#form {
  margin-top: 1rem;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 3rem;
}

.label {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}